body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #E6E6E6;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #005677;
    background-color: #C4C4C4;
    letter-spacing: 5px;
}

h2 {
    text-transform: uppercase;
    color: #005677;
    background-color: #C4C4C4;
    letter-spacing: 3px;
    text-indent: 10px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sec1 {
    margin-top: 100px;
}

.sec1 ul {
    margin-top: 30px;
}

.sec1 ul li {
    margin-top: 10px;
}

.sec1 ul li span {
    font-weight: bold;
    font-style: italic;
}

.sec2 {
    margin-top: 30px;
}

.sec2 ul {
    list-style-type: none;
    
}

.sec2 ul li span { 
    font-weight: bold;
}

.years {
    margin-right: 10px;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    height: 20px;
    margin-left: 20px;
}

.detail {
    display: inline-block;
    height: 20px;
}


footer { 
    margin-top: 100px;
}

footer section {
    text-align: center;
    color: white;
    background-color: #005677;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 5px;
}

.icon1  {
    margin-left: 20px;
    width: 20px;
    vertical-align: middle;
    filter: invert(1);
    margin-bottom: 4px;
}

.icon2  {
    margin-left: 20px;
    width: 18px;
    vertical-align: middle;
    filter: invert(1);
    margin-bottom: 4px;
}